 <form action="/config" method="POST">
    <label for="DPS">Deep Sleep Time:</label>
        <input
            type="number"
            id="DPS"
            name="PDS"
            placeholder="Enter Deep Sleep Time"
            />

            <input
            type="number"
            id="LED"
            name="LED"
            placeholder="Enter Covid 19 Threshold"
            />        

   <button type="submit">Send</button>
  </form> 